@import 'nib'

red = #c82829
blue = #328ddc
yellow = #eab700
green = #718c00
gray-dark = #444
gray-light = #bbb
gray-lighter = #eee
gray-bg = #f8f8f8

*, *:before, *:after
  box-sizing border-box

body
  font-size 16px
  font-family Lato, sans-serif
  color gray-dark

a, a:focus, a:active
  color blue
  outline none

img
  max-width 100%

code
  font-size .85em

p, li
  line-height 1.4

@media (min-width: 800px)
  side-width = 250px
  body
    padding 40px 40px 40px (side-width + 40px)
  #side
    fixed top left
    height 100%
    width side-width
    overflow-y auto
@media (max-width: 799px)
  body
    padding 20px
  #side
    display none

#side
  padding 50px 20px
  background gray-bg
  border-right 1px solid gray-lighter
  font-size .9em
  ul, li
    list-style none
  ul
    padding-left 0
    margin 0
  li.section:nth-child(n + 2)
    margin-top 40px
  li
    margin-bottom 10px
    &.section
      text-transform uppercase
      font-weight 700
  a
    color gray
    text-decoration none
    transition color .25s
    &:hover
      color blue
#main-content
  max-width 820px

.demo
  border 1px solid gray-lighter
  border-radius 0 0 3px 3px
  iframe
    display block

.hljs
  background transparent

info-box(color)
  background lighten(color, 95%)
  padding 15px 15px 15px 20px
  border-left 5px solid color
  margin-top 20px
  border-radius 0 3px 3px 0
  > *:first-child
    margin-top 0
  > *:last-child
    margin-bottom 0

#main-content
  .tip
    info-box(red)
  .reference
    info-box(yellow)
  .activity
    info-box(blue)

h1
  margin-top 0
  .fa
    margin-left 10px
    color red

h2, h3
  margin-top 30px

#like-activity
  .like-demo
    display inline-block
    font-size .9em
    padding 5px 10px
    border 1px solid gray-lighter
    background #fff
    border-radius 3px
    .like-count
      margin-left 5px
  .fa-heart
    color gray-light
    &.liked
      color red
