h2 JavaScript

section
  h3 Variables
  //- Basic (?) types
  //- Arrays and objects
  //- Functions
  //- Equality
  //- Scope

section
  h3 Async
  //- Callback
  //- Eat pizza
  //- Play with cat

  //- Closures

  //- Ref: JavaScript the good parts

section
  h3 ES6
