ul
  li.section: a(href='#css') CSS
  ul
    li: a(href='#selectors') Selectors
    li: a(href='#box-model') Box Model
    li: a(href='#position') Position
    li: a(href='#css-for-ui') CSS for Making UIs
    li.activity: a(href='#layout-activity') Layout Activity
    li: a(href='#transition') Transition
    li: a(href='#font-icons') Font Icons
    li: a(href='#css-preprocessors') Preprocessors

  li.section: a(href='#js') JavaScript
  ul
    li: a(href='#variables') Variables
    li: a(href='#asynchronous') Asynchronous JavaScript
    li: a(href='#es6') ECMAScript 6

  li.section: a(href='#interaction') Adding Interaction
  ul
    li: a(href='#jquery') jQuery
    li.activity: a(href='#form-activity') Form Validation Activity
    li: a(href='#reactive') UI As a Function of Data
    li.activity: a(href='#like-activity') Write a Like Button
